* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;

    padding: 50px;
}

.campoPontos {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 100px;
    font-weight: 700;
}
.pontos{
    color: red;
}
.perguntas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 2px solid black;
}

.perguntas div {
    display: flex;
    flex-direction: column;
}

.respostas{
    width: 100%;

}
.respostas span {
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}
button{
    width: 80%;
}